<template>
    <v-container fluid>
        <div v-for="todo in todos" :key="todo.id">
            <v-layout row>
                <v-flex xs12 sm6 offset-sm3 mb-2>
                    <v-card>
                        <v-card-title>
                            <div>
                                <span class="grey--text">{{ todo.name }}</span><br>
                                <span>{{ todo.description }}</span><br>
                                <span>{{ todo.is_complete }}</span>
                            </div>
                        </v-card-title>
                        <v-card-actions>
                            <v-btn flat right color="black" :to="'/todos/' + todo.id">Read</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </div>
    </v-container>
</template>

<script>
    import { mapMutations, mapGetters } from 'vuex'

    export default {
        head () {
            return {
                title: 'TODO List'
            }
        },
        computed: mapGetters({
            todos: 'todos/list'
        }),
        async fetch ({store}) {
            await store.dispatch('todos/getList')
        },
    }
</script>

<style scoped>

</style>